* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Inria Serif";
    text-decoration: none;
    color: #ffffff;
}

/* .8 rem minmuim for text */

/* present 4/30 @ 10am */

.middleText {
    text-align: center;
    margin: 1rem 2rem
}

.line {
    border-bottom: 0.1rem solid #000000;
    margin: 1rem 0rem;
}

.selectionBar {
    border: 0.2rem #000000;
    border-style: solid none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listOfItems {
    display: inline;
    font-size: .9rem;
    margin: .4rem;
}

.listOfItems:hover {
    background-color: #9f0000;
}

.imageHolder1 {
    border: 0.2rem #000000;
    border-style: solid;
    padding: 2rem 2rem;
    margin: auto;
    text-align: center;
    height: 6rem;
    max-width: 20rem;
}

.descriptionContainer {
    margin: 2rem 1rem;
    text-align: center;
}

.descriptionText {
    margin: 1.8rem;
    text-align: center;
}

.desciptionHeader{
    font-size: 1.4rem;
    margin: 1rem;
    text-align: center;
}

.valuesList {
    margin: auto;
    max-width: 10rem;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
    background-color: #363636;
}

.line {
    border-bottom: 0.1rem solid #9f0000;
    margin: 1rem 0rem;
}

.footerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    list-style: none;
}

.footerItem {
    padding: .5rem;
}

.background {
    background-color: #2d2d2d;
}

@media (min-width: 768px) {
  .selectionBar {
      border: 0.2rem #000000;
      border-style: solid;
      margin: 1rem auto;  
      text-align: center;
      max-width: 50rem;
  }

  .line {
      border-bottom: 0.1rem solid #9f0000;
      margin: 1rem auto;
      max-width: 75rem;
  }

}

  /* Testing Stuff */

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }