.titlePage{
    margin-left: auto; 
    margin-right: auto;
}

.middleTxt {
    text-align: center;
}

.selectionBar {
    border: 5px black;
    padding: 10px;
    margin: auto;    
}

.listOfItems {
    display: inline;
    margin: auto;
    font-size: 22px;
}